In [1]:
import pandas as pd
import numpy as np
from decision_tree import DecisionTree

In [2]:
golf = [{"outlook": "Rainy", "temp": "Hot", "humidity": "High", "windy": False, "golf": False},
 {"outlook": "Rainy", "temp": "Hot", "humidity": "High", "windy": True, "golf": False},
 {"outlook": "Overcast", "temp": "Hot", "humidity": "High", "windy": False, "golf": True},
 {"outlook": "Sunny", "temp": "mild", "humidity": "High", "windy": False, "golf": True},
 {"outlook": "Sunny", "temp": "Cool", "humidity": "Normal", "windy": False, "golf": True},
 {"outlook": "Sunny", "temp": "Cool", "humidity": "Normal", "windy": True, "golf": False},
 {"outlook": "Overcast", "temp": "Cool", "humidity": "Normal", "windy": True, "golf": True},
 {"outlook": "Rainy", "temp": "mild", "humidity": "High", "windy": False, "golf": False},
 {"outlook": "Rainy", "temp": "Cool", "humidity": "Normal", "windy": False, "golf": True},
 {"outlook": "Sunny", "temp": "mild", "humidity": "Normal", "windy": False, "golf": True},
 {"outlook": "Rainy", "temp": "mild", "humidity": "Normal", "windy": True, "golf": True},
 {"outlook": "Overcast", "temp": "mild", "humidity": "High", "windy": True, "golf": True},
 {"outlook": "Overcast", "temp": "Hot", "humidity": "Normal", "windy": False, "golf": True},
 {"outlook": "Sunny", "temp": "mild", "humidity": "High", "windy": True, "golf": False}
]

golf = pd.DataFrame(golf)

In [3]:
tree = DecisionTree(data=golf)

In [4]:
tree.information_gain('golf', 'outlook', 'golf')

> d:\kurt\projects\machine-learning\src\decision_tree.py(58)information_gain()
-> set_entropy = self.entropy(self.class_probabilities(root_node))
(Pdb) c

Rainy       0.246750
Sunny       0.246750
Overcast    0.385457
Name: outlook, dtype: float64

In [25]:
truths = tree.data['outlook'].where(tree.data['golf'] == True).value_counts()
falses = tree.data['outlook'].where(tree.data['golf'] == False).value_counts()

In [48]:
tree.data[['outlook', 'golf']].groupby(['outlook', 'golf']).count()

Empty DataFrame
Columns: []
Index: [(Overcast, True), (Rainy, False), (Rainy, True), (Sunny, False), (Sunny, True)]

In [82]:
treer = tree.data.groupby(['outlook', 'golf']).count()

In [83]:
treer.columns

Index(['humidity', 'temp', 'windy', 'True'], dtype='object')

In [75]:
treer

     outlook   golf
0      Rainy  False
1      Rainy  False
2   Overcast   True
3      Sunny   True
4      Sunny   True
5      Sunny  False
6   Overcast   True
7      Rainy  False
8      Rainy   True
9      Sunny   True
10     Rainy   True
11  Overcast   True
12  Overcast   True
13     Sunny  False